<header class="p-3 bg-dark text-white">
    <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" href="/">
                <img alt="RxJS logo" src="../assets/images/Rx_Logo.png" width="40">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mx-3 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 text-white" href="#">Home</a></li>
                <li><a class="nav-link px-2 text-white" href="#">Operators</a></li>
                <li><a class="nav-link px-2 text-white" href="#">Promise</a></li>
            </ul>

            <!--      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">-->
            <!--        <input aria-label="Search" class="form-control form-control-dark" placeholder="Search..." type="search">-->
            <!--      </form>-->

            <div class="text-end">
                <!--                <button class="btn btn-outline-light me-2" type="button">Login</button>-->
                <!--                <button class="btn btn-warning" type="button">Sign-up</button>-->
                <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" href="/">
                    <img alt="Angular logo" src="../assets/images/ang-logo.png" width="40">
                </a>
            </div>
        </nav>
    </div>
</header>


