/*
CSS variables
 */

// Colors
$primary-black: #000000ff;
$fashion-fuchsia: #e90093ff;
$dark-magenta: #a20088ff;
$dark-turquoise: #52d1dcff;
$ang-logo: #E23237;
$primary-white: #e7e2e5ff;
$plain-white: #ffffff;

// Font size
$heading-size: 2.5em;
$para-size: 1.5em;
$font-size: 14px;

// Landing page section
$section-max-width: 968px;

// Login page
$ruler: 16px;
$color-shadow: #acacac;
$color-white: #ffffff;
